.wrapp {
    position: relative;
    min-width: 200px;
    min-height: 300px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    
    img {
        width: inherit;
        object-fit: cover;
        border-radius: 0.25rem;
    }
    
    
    /* &::before {
        content: '';
        height: 99%;
        width: 100%; 

        position: absolute;
        top: 0px;
        left: 0px;

        background-color: rgba($color: black, $alpha: 0);   
        border-radius: 0.25rem;
        transition: 0.2s all ease;
    } */
    
}

@media (max-width: 640px) {
    .wrapp {
        min-width: inherit;
        min-height: inherit;
        margin-bottom: 5px;
    }
}